.process {
  padding-top: 100px;
}

.step {
  height: 100px;
}

.step::before {
  background-color: #5d4298;
  width: 0.92857143em;
  height: 0.92857143em;
  content: '';
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.step::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #ccc;
  top: 5px;
  left: 0;
  left: 50%;
  background-color: #5d4298;
}

.step:last-child:after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  background: #ccc;
  top: 5px;
  left: 0;
  left: 50%;
}

.step .stepName {
  padding-top: 15px;
  text-align: center;
  font-size: 1em;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #666666;
  font-weight: 400;
}
